header {
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #707070;
  box-shadow: 0 0 5px black;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

    ul {
      display: flex;
      align-items: center;
    }
    ul li {
      list-style-type: none;
      padding-left: 20px;
      text-transform: capitalize;
    }
    ul li a {
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
    ul li a:hover {
      text-shadow: 0 0 2px black;
    }
    h1 {
      font-weight: 300;
      cursor: default;
    }
  }
}
